{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <div class="col-lg-10 col-md-10 col-sm-9 col-lg-push-2 col-md-push-2 col-sm-push-3">
        <div class="row mrg-0 mrg-top-20">
            <div class="tr-single-box">
                <div class="tr-single-header">
                    <h3 class="dashboard-title">My Booking</h3>
                </div>
                <div class="tr-single-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Contenu</th>
                                <th>Created</th>
                                <th>Updated</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td>{{ comment.id }}</td>
                                    <td>{{ comment.contenu }}</td>
                                    <td>{{ comment.created ? comment.created|date('Y-m-d') : '' }}</td>
                                    <td>{{ comment.updated ? comment.updated|date('Y-m-d') : '' }}</td>
                                    <td>
                                        <a href="{{ path('app_comment1_edit', {'id': comment.id}) }}" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i> Edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">No records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="{{ path('app_comment1_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Create new</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
